# docker-compose.yml
services:
  web:
    image: nginx:latest
    container_name: "firebase_nginx"
    ports:
      - "80:80"
    volumes:
      - ./public:/usr/share/nginx/html:ro
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped

  firebase-cli:
    image: node:22
    container_name: "firebase_legal"
    working_dir: /app
    ports:
      - "4000:4000"
      - "5001:5001"
      - "8080:8080"
      - "9099:9099"
      - "9299:9299"
      - "9150:9150"
      - "9005:9005"
    volumes:
      - .:/app
    command: sh -c "apt-get update && apt-get install -y wget apt-transport-https gnupg && wget -O - https://packages.adoptium.net/artifactory/api/gpg/key/public | apt-key add - && echo 'deb https://packages.adoptium.net/artifactory/deb bookworm main' | tee /etc/apt/sources.list.d/adoptium.list && apt-get update && apt-get install -y temurin-21-jre && npm install -g firebase-tools && tail -f /dev/null"